<div class="col-md-12"> 
  <table class="table table-hover">
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= image_tag(product.image_url, :class => 'list_image') %></td>
          <td>
            <%= link_to product.name, product_path(product) %><br>
            <%= truncate(strip_tags(product.description), :length => 60) %>
          </td>
          <td><%= number_to_currency(product.price) %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>